
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2 id="container"></h2>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/react/react.js"></script>
    <script src="~/Scripts/react/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.js"></script>
    <script src="~/Scripts/jsx/user/userrow.jsx"></script>
    <script src="~/Scripts/jsx/user/usertable.jsx"></script>
</body>

</html>
